body{
  background: #111;
}
.card{
  width: 300px;
  height: 400px;
  margin: 0 auto;
  transform: translateY(20vh);
  background: #111;
  border: 3px solid #111;
  color: #fff;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  .in-card-1{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 96.5%;
    height: 97.5%;
    background: #222;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    font-family: sans-serif;
    h1{
      font-size: 250px;
      color: rgb(100,100,100);
      font-family: sans-serif;
    }
    &:before{
      content: '';
      position: absolute;
      z-index: -1;
      background: rgb(255,0,61);
      background: linear-gradient(180deg, rgba(255,0,61,1) 19%, rgba(0,212,255,1) 91%);
      width: 100px;
      height: 550px;
      top: -75px;
      left: 100px;
      animation: rotate 3s infinite linear;
    }
    @keyframes rotate {
      0%{
        transform: rotate(0deg);
        background: linear-gradient(180deg, rgba(255,0,61,1) 56%, rgba(0,212,255,1) 44%);
        transition: 2s;
      }
      100%{
        transform: rotate(360deg);
        background: linear-gradient(180deg, rgba(0,212,255,1) 19% ,rgba(255,0,61,1) 91%)
      }
    }
  }
}
